
/*-- Variables ---------------------------------*/
:root {
    --color-copy: #000;
    --color-field: #fff;
    --color-backdrop: #eee;
    --color-structure: #bbb;
    --color-subdued: #888;
    --color-primary: #08f;
    --color-secondary: #8cf;
    --color-danger: #f08;
    --color-action: #4a4;
    --radius-structure: 0.5rem;
    --spacing-structure: 1rem;
    --border-structure: 1px solid var(--color-structure);
    --font-default: georgia, helvetica;
}

/*-- Extra Reset -------------------------------*/
input, textarea, button, select, option {
    font-family: var(--font-default);
}

/*----------------------------------------------*/
body {
    background: var(--color-backdrop);
    min-height: 100vh;
    font-family: var(--font-default);
}
input, text, select, option {
    padding: 0rem 1rem;
    font-size: 2rem;
    height: 4rem;
}
h1 {
    display: block;
    margin: 2rem 0rem;
    font-size: xx-large;
    line-height: 4rem;
    border-bottom: 1px solid var(--color-structure);
    height: 4rem;
}
fieldset {
    border: var(--border-structure);
    border-radius: var(--radius-structure);
    padding: var(--spacing-structure);
    margin-bottom: var(--spacing-structure);
}
fieldset legend {
    font-weight: bold;
}

/*----------------------------------------------*/
.input-bar {
    display: flex;
    width: 100%;
}
.input-bar label span {
    font-size: 2rem;
}
.input-bar input {
    flex-grow: 1;
}
.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--spacing-structure);
}
.action-attach {
    display: flex;
    justify-content: space-between;
}
.action-attach__text {
    align-self: flex-start;
}
