
/*----------------------------------------------*/
.species-list {
    table-layout: fixed;
    width: 100%;
    border-bottom: var(--border-structure);
    margin-bottom: var(--spacing-structure);
}
.species-list thead {
    border-bottom: var(--border-structure);
    margin-bottom: var(--spacing-structure);
}
.species-list__species {
    cursor: pointer;
    /* border: var(--border-structure); */
    /* border-radius: var(--radius-structure); */
    /* margin-bottom: var(--spacing-structure); */
    /* padding: var(--spacing-structure); */
    color: var(--color-primary);
}
.species-list__species:hover {
    border-color: var(--color-action);
    background-color: var(--color-field);
}
.species-list td, .species-list th {
    padding: var(--spacing-structure) 0rem;
    text-align: center;
    vertical-align: middle;
}
