
.new-species {
    display: flex;
    flex-direction: column;
}
.new-species h1 {
    display: block;
    margin: 2rem 0rem;
    font-size: xx-large;
    border-bottom: 1px solid var(--color-structure);
}
.new-species label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: larger;
}
.new-species input {
    font-size: larger;
}
.new-species__actions {
    display: flex;
    flex-direction: row;
}
.new-species__actions > * {
    margin-right: 1rem;
}