
.client {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    max-width: 76rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    outline: 1px dotted var(--color-field);
    border-left: 2px solid var(--color-structure);
    border-right: 2px solid var(--color-structure);
}
.page {
    padding: 0px var(--spacing-structure);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
