
.button {
    font-size: 2rem;
    height: 4rem;
    width: 14rem;
    color: var(--color-field);
    font-weight: bold;
    background: var(--color-primary);
    border: none;
    border-radius: var(--radius-structure);
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background: var(--color-action);
}
.button:focus {
    outline: 1px dotted black;
}
.button:active {
    transform: translate(0, 2px);
}
.button .button_message_normal{ display: inline;}
.button:hover .button_message_normal,
.button:focus .button_message_normal {
    display: none;
}
.button .button_message_hover{ display: none;}
.button:hover .button_message_hover,
.button:focus .button_message_hover {
    display: inline;
}

.button.danger {
    background: var(--color-danger);
}
.button.danger:hover {
    background: var(--color-action);
}
.button.secondary {
    background: var(--color-secondary);
    color: var(--color-field);
}
.button.secondary:hover {
    background: var(--color-action);
}
.button.small {
    font-size: unset;
    height: unset;
    width: unset;
    display: inline-flex;
    border-radius: unset;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
    transform: unset;
    background: var(--color-subdued);
}