
/*-- Extra Reset -------------------------------*/
input, textarea, button, select, option {
    font-family: var(--font-default);
}

/*----------------------------------------------*/
body {
    background: var(--color-backdrop);
    min-height: 100vh;
    font-family: var(--font-default);
}
input, text, select, option {
    padding: 0rem 1rem;
    font-size: 2rem;
    height: 4rem;
}
h1 {
    display: block;
    margin: 2rem 0rem;
    font-size: xx-large;
    line-height: 4rem;
    border-bottom: 1px solid var(--color-structure);
    height: 4rem;
}
fieldset {
    border: var(--border-structure);
    border-radius: var(--radius-structure);
    padding: var(--spacing-structure);
    margin-bottom: var(--spacing-structure);
}
fieldset legend {
    font-weight: bold;
}
