
.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-structure);
    margin-bottom: var(--spacing-structure);
    border-bottom: var(--border-structure);
}
