
.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-structure);
    margin-bottom: var(--spacing-structure);
    border-bottom: var(--border-structure);
}
/* .headerbar .headerbar_home {
} */
.headerbar .headerbar_etc {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerbar .headerbar_etc > *{
    margin-left: 1rem;
}
.headerbar .headerbar_etc > .button{
    font-size: inherit;
    height: 3rem;
    width: 10rem;
}
/* .headerbar a:link, .headerbar a:visited {
    color: var(--color-copy);
    font-weight: bold;
}
.headerbar a:link:hover, .headerbar a:link:focus {
    text-decoration: underline;
} */
